{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap4/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/book_css.css' %}">
<link rel="stylesheet" href="{% static 'css/author_css.css' %}">
<link rel="stylesheet" href="{% static 'css/original_css.css' %}">
<link rel="stylesheet" href="{% static 'css/carousel_css.css' %}">
<link rel="stylesheet" href="{% static 'css/index_css.css' %}">
<link rel="stylesheet" href="{% static 'css/content_css.css' %}">
<link rel="stylesheet" href="{% static 'css/books_css.css' %}">