<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titleblock %}{% endblock %}</title>
    {% include '_book_css.html' %}
    {% block css_block %}
    {% endblock %}
</head>
<body style="background-color: #b3d7ff">
    {% include 'book_nav_base.html' %}
    <div style="height: 55px"></div>
    {% block content %}
    {% endblock %}
    {% include '_book_js.html' %}
    <script>
        $("#searchInput").on("input propertychange", function (event) {
            $.ajax({
                url: 'http://127.0.0.1/api/v1/bookapp/apibooks/?search='+$(this).val(),
                success: (data) => {
                    var dataArray = []
                    for (i = 0; i < data.length; i++) {
                        dataArray.push(data[i].book_name)
                    }
                    var ulNav = document.getElementById('ulNav')
                    if ($(this).val() !== ''){
                        ulNav.innerHTML = ""
                        for (var i = 0; i < dataArray.length; i++) {
                            if (dataArray[i].indexOf(this.value.toUpperCase()) == 0){
                                var li = document.createElement("li")
                                var a = document.createElement('a')
                                li.setAttribute('style', 'list-style-type: none;')
                                a.innerHTML = dataArray[i]
                                {#dictA = [{['a'+i]: dataArray[i]}]#}
                                {#console.log(dictA)#}
                                a.setAttribute('class', 'aMenu')
                                a.setAttribute('id', 'a'+i)
                                a.setAttribute('style', 'border')
                                li.appendChild(a)
                                ulNav.appendChild(li)
                                document.getElementById('ulNav').removeAttribute('class')
                            }
                        }
                    } else if($(this).val()===''){
                        document.getElementById('ulNav').setAttribute('class', 'hidden')
                    }
                }
            })
        })
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
