{% extends 'book_base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div id="br"></div>
                </div>
            </div>
            <div class="col-6">
                <div style="height: 100px;">
                    <div class="authorBox">
                        <h1 class="ml-lg-5">科幻作家</h1>
                        <ul id="aul" style="height: 400px;"></ul>
                        <ul class="pagination" id="paginationId"></ul>
                        <div class="line"></div>
                        <ul id="bul" class="cul"></ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container-fluid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var removeAulElement = ()=>{
            var aulId = document.getElementById('aul')
            while(aulId.hasChildNodes()){
                aulId.removeChild(aulId.firstChild)
            }
        }

        var removeBulElement = ()=>{
            var aulId = document.getElementById('bul')
            while(aulId.hasChildNodes()){
                aulId.removeChild(aulId.firstChild)
            }
        }

        var defaultHtml = ()=>{
            removeAulElement()
            $.ajax({
                type: 'GET',
                url: 'http://127.0.0.1/api/v1/bookapp/apiscienceauthor/',
                success: (data)=>{
                    for(var i=0;i<30;i++){
                        var li = document.createElement('li')
                        var a = document.createElement('a')
                        li.setAttribute("id", 'li'+i)
                        li.setAttribute("class", 'lic')
                        li.setAttribute("style", 'list-style-type:none; float: left;\n' +
                                                 'width: 33%;\n' +
                                                 'margin-bottom: 20px;\n' +
                                                 'line-height: 20px;')
                        a.setAttribute("id", 'a' + i)
                        a.setAttribute("class", 'ac')
                        {#a.setAttribute("href", "http://127.0.0.1/api/v1/bookapp/apiscienceauthor/"+data[i].id+"/")#}
                        document.getElementById('aul').appendChild(li)
                        document.getElementById('li'+i).appendChild(a)
                        document.getElementById('a'+i).innerHTML = data[i].author
                        const n = data[i].id
                        document.getElementById('a'+i).onclick = ()=>{
                            removeBulElement()
                            $.ajax({
                                url: 'http://127.0.0.1/api/v1/bookapp/apisciencebooks/author_id/?author_id='+n,
                                type: 'GET',
                                success:(data)=>{
                                    for(var p = 0; p<data.length; p++) {
                                        var li = document.createElement('li')
                                        var a = document.createElement('a')
                                        // 书名列表
                                        li.setAttribute("id", 'bli'+p)
                                        li.setAttribute("class", 'lic')
                                        li.setAttribute("style", 'list-style-type:none; float: left;\n' +
                                                         'width: 33%;\n' +
                                                         'margin-bottom: 20px;\n' +
                                                         'line-height: 20px;')
                                        a.setAttribute("id", 'ab' + p)
                                        a.setAttribute('class', 'ac')
                                        a.setAttribute('href', 'http://127.0.0.1/bookapp/book/'+p+'/')
                                        document.getElementById('bul').appendChild(li)
                                        document.getElementById('bli'+p).appendChild(a)
                                        document.getElementById('ab'+p).innerHTML = data[p].book_name
                                    }
                                }
                            })
                        }
                        document.getElementById('a'+i).onmouseover = ()=>{
                            $.ajax({
                                url: 'http://127.0.0.1/api/v1/bookapp/apiscienceauthor/'+n+'/',
                                type: 'GET',
                                success:(data)=>{
                                    document.getElementById('br').innerHTML = data.brief
                                    }
                                })
                            }
                        }
                    }
                })
            }
        var isAnim = false
        $(document).ready(()=>{
            $.ajax({
                url: 'http://127.0.0.1/api/v1/bookapp/apiscienceauthor/',
                type: 'GET',
                success(data){
                    var pageNum = Math.ceil(data.length/30)
                    for(var i = 0; i<pageNum; i++){
                        let n = i
                        var li = document.createElement('li')
                        var btn = document.createElement('button')
                        li.setAttribute('class', "page-item")
                        li.setAttribute('id', "li"+i)
                        btn.setAttribute('class', "page-link")
                        btn.setAttribute('id', "page"+i)
                        btn.innerHTML = i + 1
                        document.getElementById('paginationId').appendChild(li)
                        document.getElementById('li'+i).appendChild(btn)
                        if(!isAnim){
                            defaultHtml()
                            isAnim = true
                        }
                        document.getElementById('page'+n).onclick = ()=>{
                            removeAulElement()
                            var j = n+1
                            for(var k = j*30-30; k<j*30; k++){
                                var li = document.createElement('li')
                                var a = document.createElement('a')
                                li.setAttribute("id", 'li'+k)               // 为元素添加属性
                                li.setAttribute("class", 'lic')
                                li.setAttribute("style", 'list-style-type:none; float: left;\n' +
                                                         'width: 33%;\n' +
                                                         'margin-bottom: 20px;\n' +
                                                         'line-height: 20px; ')
                                a.setAttribute("id", 'a' + k)
                                a.setAttribute("class", 'ac')
                                {#a.setAttribute("href", "http://127.0.0.1/api/v1/bookapp/apiscienceauthor/"+data[k].id+"/")#}
                                document.getElementById('aul').appendChild(li)      // 添加元素节点
                                document.getElementById('li'+k).appendChild(a)
                                document.getElementById('a'+k).innerHTML = data[k].author
                                const n = data[k].id
                                document.getElementById('a'+k).onclick = ()=>{
                                    removeBulElement()
                                    $.ajax({
                                        url: 'http://127.0.0.1/api/v1/bookapp/apisciencebooks/author_id/?author_id='+n,
                                        type: 'GET',
                                        success:(data)=>{
                                            for(var p = 0; p<data.length; p++) {
                                                var li = document.createElement('li')
                                                var a = document.createElement('a')
                                                // 书名列表
                                                li.setAttribute("id", 'bli'+p)
                                                li.setAttribute("class", 'lic')
                                                li.setAttribute("style", 'list-style-type:none; float: left;\n' +
                                                                 'width: 33%;\n' +
                                                                 'margin-bottom: 20px;\n' +
                                                                 'line-height: 20px;')
                                                a.setAttribute("id", 'ab' + p)
                                                a.setAttribute('class', 'ac')
                                                a.setAttribute('href', 'http://127.0.0.1/bookapp/book/'+p+'/')
                                                document.getElementById('bul').appendChild(li)
                                                document.getElementById('bli'+p).appendChild(a)
                                                document.getElementById('ab'+p).innerHTML = data[p].book_name
                                            }
                                        }
                                    })
                                }
                                document.getElementById('a'+ k).onmouseover = ()=>{
                                    $.ajax({
                                        url: 'http://127.0.0.1/api/v1/bookapp/apiscienceauthor/'+n+'/',
                                        type: 'GET',
                                        success:(data)=>{
                                            document.getElementById('br').innerHTML = data.brief
                                            }
                                        })
                                    }
                                }
                            }
                        }
                    }
                })
            })
    </script>
{% endblock %}